@import 'tailwindcss';
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: 'sksport';
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: oklch(98% 0.02 240);
  --color-base-200: oklch(95% 0.03 240);
  --color-base-300: oklch(92% 0.02 255);

  /* TEXT */
  --color-base-content: oklch(0.23 0.03 258);

  /* BRAND */
  --color-primary: oklch(0.4435 0.1997 262.02);
  --color-primary-content: oklch(98% 0.01 240);

  --color-secondary: oklch(0.6689 0.2418 359.19);
  --color-secondary-content: oklch(98% 0.01 200);

  /* STAGE */
  --color-accent: oklch(0.72 0.16 290);
  --color-accent-content: oklch(98% 0.01 290);
  --color-neutral: oklch(0.45 0.04 255);
  --color-neutral-content: oklch(98% 0.01 240);
  --color-info: oklch(70% 0.2 220);
  --color-info-content: oklch(98% 0.01 220);
  --color-success: oklch(65% 0.22 145);
  --color-success-content: oklch(98% 0.01 145);
  --color-warning: oklch(80% 0.2 85);
  --color-warning-content: oklch(0.23 0.03 85);
  --color-error: oklch(65% 0.28 30);
  --color-error-content: oklch(98% 0.01 30);

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}

:root {
  --gradient: linear-gradient(90deg, var(--color-primary) 0%, var(--color-secondary) 100%);
  --gradient-60: linear-gradient(90deg, rgba(11, 63, 184, 0.6) 0%, rgba(255, 59, 141, 0.6) 100%);
  --gradient-20: linear-gradient(90deg, rgba(11, 63, 184, 0.2) 0%, rgba(255, 59, 141, 0.2) 100%);
}

/*Border Gradient Button*/
.btn-gradient-solid-border {
  position: relative;
  border-radius: 0px;
  border: 0;
  background: transparent;
  box-shadow: none;
  overflow: hidden;
}
.btn-gradient-solid-border::after {
  content: '';
  position: absolute;
  inset: 1px;
  background: var(--gradient-20);
  z-index: 0;
}
.btn-gradient-solid-border::before {
  content: '';
  position: absolute;
  inset: 0;
  padding: 1px;
  background: var(--gradient);
  z-index: 0;

  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.btn-gradient-solid-border > * {
  position: relative;
  z-index: 1;
}
.btn-gradient-solid-border:hover::after {
  background: var(--gradient-60);
}
